//settings
@import 'settings/fonts';
@import 'settings/settings';

//font-awesome
$fa-font-path: '../bower_components/fontawesome/fonts';
@import '../bower_components/fontawesome/scss/font-awesome.scss';

//foundation
@import '../bower_components/foundation-sites/scss/foundation.scss';
@include foundation-everything;
//ffab
@import '../bower_components/foundation-font-awesome-buttons/src/ffab';
@include ffab-everything;
@import 'settings/overrides';

//components
@import 'components/wizard';
