body#recovery-questions {
    text-align: left;

    #qa-test {
        display: none;

        .div-list {
            display: none;
        }
    }

    #help-guidelines {
        display: none;
    }
}
