<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Setup Recovery Q&amp;A</title>
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css" />
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="../../assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/bower_components/foundation-sites/dist/js/foundation.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script>if (window.module) module = window.module;</script> 
</head>

<body id="recovery-questions">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                <p>
                    Your recovery record is protected by a set of questions and answers that <em>you</em> create. 
                    The more questions and the more complex the answers, the more secure your wallet recovery record.
                </p>
                <a id="link-help-guidelines"><i class="fa fa-info-circle"></i> View some helpful guidelines...</a>
                <ol id="help-guidelines">
                    <li>Ask questions that you'll know the answer to years from now. Recovery is useless if you can't answer
                        your own questions.</li>
                    <li>Try to ask questions that include numbers, upper-case, or even special characters (remember guideline
                        #1 though!)</li>
                    <li>Ask lots of questions, the more, the better!</li>
                </ol>
                <hr />
            </div>
            <div class="medium-12 cell">
                <h4><span id="span-answer-count">0</span> / 5 Required Questions &amp; Answers</h4>
            </div>
            <div class="medium-12 cell">
                Total Answer Complexity: <span id="span-answer-strength">None</span>
            </div>
            <div class="medium-12 cell">
                <table class="list">
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">
                                <button class="button button-add-qa">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                    </tfoot>
                </table>
            </div>
            <div class="medium-8 cell text-left">
                <button class="button secondary button-cancel ffab fa-times">Cancel</button>
                <button class="button secondary button-cancel ffab fa-trash">Remove Recovery</button>
            </div>
            <div class="medium-4 cell text-right">
                <button class="button button-save ffab fa-save" disabled>Save Changes</button>
            </div>
        </div>
    </div>
</body>

</html>