@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-bold-italic.ttf");
    font-weight: bold;
    font-style: italic;
}