@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow-italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow-bold-italic.ttf");
    font-weight: bold;
    font-style: italic;
}