<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Superlumen</title>
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css" />
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../../assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/bower_components/foundation-sites/dist/js/foundation.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>

<body id="main">
    <div id="views">
        <!--Anything in the views container can be stylized by the active view. When a view is addded in, the views 
            div will get an active view class name. -->
        <img class="logo" src="../../assets/images/icons/icon-512x512.png" alt="Superlumen" />

    </div>
</body>

</html>