body#index {
    overflow: hidden;

    .grid-container {
        position: relative;
        z-index: 0;
    }
    
    .logo {
        position: absolute;
        top: -20px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        opacity: 0.25;
        -webkit-animation: spin 420s linear infinite;
        -moz-animation: spin 420s linear infinite;
        animation: spin 420s linear infinite;
        z-index: -999;
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(-360deg);
        }
    }

    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(-360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }

}
