<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Superlumen</title>
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css" />
    <script>
        window.$ = window.jQuery = require('jquery');
        //require("./lib/render/index.js");
    </script>
</head>

<body id="index">
    <img class="logo" src="../../assets/images/icons/icon-512x512.png" />
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                <h1>Unlock</h1>
                <p>
                    Unlock your wallet using your password below.
                    <br /> You can also
                    <a href="new.html">create a new wallet</a>.
                </p>
            </div>

            <div class="medium-12 cell">
                    <input type="password" placeholder="Enter: Wallet Password">
            </div>
            <div class="medium-12 cell">
                <button class="button">Unlock</button>
            </div>
        </div>
    </div>
</body>

</html>