.view-wallet-create {
    padding: 2rem 4rem 0 4rem;
    padding-left: 35%;

    .grid-container {
        position: relative;
        z-index: 0;
    }

    .wizard {
        .wizard-step-1 {
            .progress {
                display: none;
            }
        }
    }
}

body#main {
    .active-wallet-create {
        .logo {
            left: -700px;
            opacity: 0.45;
        }
    }
}
