body {
    padding: 2rem 4rem;
    background: transparent url(../images/generic.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    button, input, a {
        &:focus,
        &:active:focus,
        &.active:focus,
        &.focus,
        &:active.focus,
        &.active.focus {
            outline-color: #258ec6 !important;
        }
    }
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #262626;
    outline: 1px solid #444444;
}

ol, ul {
    li {
        margin-bottom: 1rem;
    }
}
