body#startup {
    background-image: url("../../assets/images/quantum.jpg");
    padding: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;

    &.view-ready {
        animation: fade-in 2s forwards;
    }

    @keyframes fade-in {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .logo {
        position: absolute;
        display: inline-block;
        top: -20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.25;
        animation: spin 420s linear infinite none;
        transition: 1s;
        z-index: -999;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}