body#index {
    overflow: hidden;
    transition: 1s padding ease-out;

    .grid-container {
        position: relative;
        z-index: 0;
    }

    .logo {
        position: absolute;
        display: inline-block;
        top: -20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.25;
        animation: spin 420s linear infinite none;
        transition: 1s;
        z-index: -999;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    .create-wallet {
        display: none;
    }

    &.create {
        padding-left: 35%;

        .logo {
            left: -600px;
            opacity: 0.45;
        }
    }
}
