{% extends "../_layout/view.html" %} 
{% set title = "About Superlumen" %} {% block body %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
            <img class="logo" src="../../assets/images/icons/icon-256x256.png" />
            <p class="intro">
                Superlumen was built with passion of skilled and dedicated people. We believe that Stellar has great value to human-kind,
                and want to positively contribute to the community.
                <br />
                <br />
                <i class="fa fa-heart"></i> We hope you like what we've created so far!
            </p>
            <blockquote>
                <h5>Feedback?</h5>
                <p>
                    Have questions, or comments, or an issue?
                    <br />
                    <i class="fa fa-link"></i>&nbsp;
                    <a href="http://www.superlumen.org" target="_blank">www.superlumen.org</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-github"></i>&nbsp;
                    <a href="https://github.com/super-lumen/superlumen-gui/issues" target="_blank">github.com/super-lumen</a>
                </p>
            </blockquote>
        </div>
        <div class="medium-6 cell text-left">
            <button class="button secondary button-close ffab fa-times">Close</button>
        </div>
        <div class="medium-6 cell text-right">
            <button class="button button-support ffab fa-arrow-right">Help Feed Our Team</button>
        </div>
    </div>
</div>
{% endblock %}