@font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans-bold.ttf");
    font-weight: bold;
}