table {
    thead, tfoot {
        &.normal, & td.normal, & tr.normal td {
            font-weight: normal;
            font-style: normal;
        }
    }
}

blockquote {
    background: rgba(#FFFFFF, 0.3);
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

input,
textarea,
select {
    &:focus {
        color: white;

        &::placeholder,
        &[placeholder] {
            color: white;
        }
    }
}

input,
textarea {
    &[readonly], &:read-only {
        cursor: text;
    }
}

.switch {
    font-weight: normal;

    label {
        font-size: 70%;
    }
}

.button {
    min-width: 40px;
}

.text-small {
    line-height: 1rem;
    font-size: smaller;
    color: $dark-gray;
}
