<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About Superlumen</title>
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css" />
    <script>
        window.$ = window.jQuery = require('jquery');
        //require("./lib/render/index.js");
    </script>
</head>

<body id="about">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                <img class="logo" src="../../assets/images/icons/icon-256x256.png" />
                <p>
                    This application was built with passion and integrity and the hope that others will find it capable and useful.
                    <br />
                    <br />
                    <i class="fas fa-heart"></i> We hope you like what we've created so far!
                </p>
                <p>
                    <a href="http://www.superlumen.org" target="_blank">www.superlumen.org</a><br />
                    <a href="http://www.stellar.org" target="_blank">www.stellar.org</a>
                </p>
                <blockquote>
                    <h5>Feedback</h5>
                    <p>
                        If you are experiencing a problem with Superlumen, please log an issue on our project repository:
                        <br />
                        <i class="fab fa-github"></i>&nbsp;
                        <a href="https://github.com/super-lumen/superlumen-gui/issues" target="_blank">github.com/super-lumen</a>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</body>

</html>