body#wallet-create {
    background-image: url("../../assets/images/quantum.jpg");
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 2rem 4rem 0 4rem;
    padding-left: 38%;

    &.view-ready {
        animation: fade-in 2s forwards;
    }

    @keyframes fade-in {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .logo {
        position: absolute;
        display: inline-block;
        top: -20px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.25;
        animation: spin 420s linear infinite none;
        transition: 1s;
        z-index: -999;
        left: -760px;
        opacity: 0.45;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    .grid-container {
        position: relative;
        z-index: 0;
    }

    .wizard {
        .wizard-step-password {
            .progress {
                display: none;
            }
        }

        .wizard-step-2-factor {
            .span-2-factor-image {
                display: block;
                height: 140px;
                margin-bottom: 2rem;
            }
        }
    }
}
