<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
            <h1>New Wallet</h1>
            <p>
                Create a new wallet by filling out the form below.
                <br /> You can also
                <a id="link-open-wallet">open an existing wallet</a>.
            </p>
        </div>
    </div>
</div>
<div class="grid-container wizard">
    <section class="wizard-step active wizard-step-password">
        <div class="grid-x grid-margin-x">
            <div class="medium-12 cell">
                <div class="input-wrapper">
                    <input name="text-password" type="password" placeholder="Enter: Wallet Password" required>
                    <small class="error"></small>
                </div>
            </div>
            <div class="medium-12 cell">
                <div class="input-group">
                    <input name="text-password-confirm" class="input-group-field" type="password" placeholder="Confirm: Wallet Password" required>
                    <span class="input-group-label">
                        <i class="fa fa-warning"></i>
                    </span>
                </div>
            </div>
            <div class="medium-12 cell">
                <div class="alert progress">
                    <div class="progress-meter" style="width: 0%">
                        <p class="progress-meter-text"></p>
                    </div>
                </div>
            </div>
            <div class="medium-12 cell text-right">
                <button class="button secondary button-key-file ffab fa-key">Add Key-File</button>
                <button class="button secondary button-key-file-generate" title="Generate &amp; add a key file.">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="medium-12 cell text-right">
                <button class="button button-go-recovery ffab fa-chevron-right">Next: Recovery</button>
            </div>
        </div>
    </section>
    <section class="wizard-step wizard-step-recovery">
        <div class="grid-x grid-margin-x">
            <div class="medium-7 cell">
                Add Recovery ?
            </div>
            <div class="medium-5 cell">
                <div class="switch">
                    <input class="switch-input" id="yes-no" type="checkbox" name="checkbox-recovery" checked>
                    <label class="switch-paddle" for="yes-no">
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
            <div class="medium-12 cell">
                If you lose your password and/or key file, you may still need to access your account(s). You can setup questions and answers
                that will encrypt your critical Stellar account data for recovery. 
                <hr />
            </div>
            <div class="medium-12 cell">
                <button class="button secondary button-setup-recovery ffab fa-gear">Setup Recovery Q&amp;A</button>
            </div>
            <div class="medium-6 cell text-left">
                <button class="button button-go-password ffab before fa-chevron-left">Back</button>
            </div>
            <div class="medium-6 cell text-right">
                <button class="button button-go-accounts ffab fa-chevron-right" disabled>Next: Add Accounts</button>
            </div>
        </div>
    </section>
    <section class="wizard-step wizard-step-accounts">
        <div class="grid-x grid-margin-x">
            <div class="medium-12 cell">
                
            </div>
            <div class="medium-6 cell text-left">
                <button class="button button-go-recovery ffab before fa-chevron-left">Back</button>
            </div>
            <div class="medium-6 cell text-right">
                <button class="button button-complete ffab fa-chevron-right">Done: Save &amp; Open</button>
            </div>
        </div>
    </section>
</div>