body {
    text-align: center;
    padding: 2rem 4rem;
    background: transparent url(../images/index.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}