<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Superlumen</title>
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css" />
    <script>
        window.$ = window.jQuery = require('jquery');
        //require("./lib/render/index.js");
    </script>
</head>

<body>
    <h1>Unlock</h1>
    <p>
        Unlock your wallet using your password below.
        <br /> You can also
        <a href="new.html">create a new wallet</a>. To add an account to your existing wallet, unlock it first.
    </p>
    <form>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                    <label>
                        Password
                        <input type="password">
                    </label>
                </div>
                <div class="medium-12 cell">
                    <button class="button">Unlock</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>